@model Projeto.Presentation.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/css/principal.css" rel="stylesheet" />
</head>
<body id="wrapper">
    <div class="content-center bg-gradient-primary">
        <div class="jumbotron jumbotron_content-align-center container">

            <div class="col-6">
                <div class="login100-pic js-tilt">
                    <img src="~/Content/img/Logo.png" alt="IMG">
                </div>
            </div>

            <div class="col-6">

                <span class="login100-form-title text-gray-600">
                    Planejamento Integrado da Produção (PIP)
                </span>

                @using (Html.BeginForm("Login", "Login"))
                {
                    @Html.AntiForgeryToken()
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control text-center", type = "text", placeholder = "Usuário" })
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(x => x.Senha, new { @class = "form-control text-center", type = "password", placeholder = "Senha" })
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="text-danger">@TempData["Mensagem"]</div>

                    <div>
                        <button type="submit" class="btn btn-dark btn-user btn-block text-center">
                            Login
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script>
        $('input.form-control').on('change', function () {
            $('.text-danger').remove();
        });
    </script>
</body>
</html>
